body {
  background: url("../images/grid_bg.jpg") no-repeat center center; /*.. to specify one level up bc images is outside of css directory. (for github pages).*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-links {
  /*shouldnt the parent container do the flexing? then adjust the elements/items? yes.ul is flexing the li*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-links li {
  background-color: rgb(232, 228, 217);
  padding: 14px 16px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px #486cc6 inset;
}

.navbar ul li:nth-child(3):nth-last-child(3) {
  /*selecting middle child*/
  background-color: transparent; /*AMAZINGGG*/
  box-shadow: none;
}

.navbar ul li a {
  text-decoration: none; /*remove lines under text*/
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(59, 57, 57);
}

/* Menu toggle button for mobile view */
.menu-toggle {
  display: none;
  flex-direction: column;
  align-items: end; /*make hamberger on right-side of view*/
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: rgb(140, 191, 236);
  height: 3px;
  width: 25px;
  margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(217, 225, 232);
    /* pale blue background for mobile view */
  }

  #logo {
    /*i want this just to be a home button (js finding #logo and changing its html) or at least an oval*/
    /* display: none; */
    /* padding: 14px 16px; */
    border-radius: 2px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.parent-cont {
  /*get container1 and 2 aligned*/
  display: flex;
  flex-direction: column;
}
.container1 {
  display: flex;
  gap: 20%;
}

#me-pic {
  object-fit: contain;
  width: 30rem;
  height: 75%;
  margin-left: 25%;
}

.desc-cont{
  margin-right: 40%;
  text-align: right;
  background-color: rgb(232, 228, 217);;
  /* padding: 20%; */

}

.cont1-right{
  display: flex;
  flex-direction: column;
  align-items:self-start;
}

.container2 {
  display: flex;
  justify-content: space-around;
}


#care-chart {
  width: 35rem;
}
#receptify {
  width: 25rem;
}
