* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url("/images/calbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; /*makes webstie not scrollable*/
  
} 

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color:black;
  position: relative;
  left: 50px;
  top: 300px;
}

pre{
  position: relative;
  top: 170px;
  left: 25px;
}

.img-gallery {
  width: 80%;
  /* margin: 100px auto 50px; 100px top, auto l and r, 50 bottom*/
  margin-top: 100px;
  margin-left: 400px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
}

.img-gallery img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
}

#neptune-text{
  position: relative;
  left: 1250px; 
  bottom: 660px; 
  width: auto; /*height and width for the SVG cause it's rel to that*/
  height: 100px;
}


#first {
  /*use margin to not disturb the shadow on hover*/
  height: 130px;
  width: 150px;
  margin-top: 280px;
  margin-left: -10px;
  margin-bottom: 80px; /*adds space between first and the one under it*/
 
}

#second {
  margin-top: 130px;
  margin-left: 10px;
  height: 120px;
}

#third {
  margin-top: 1rem; /*looks better with 1rm than 1rem. but rm isnt a measurement so?*/
  margin-left: 50px;
  height: 120px;
  width: 120px;
  /* transform: rotate(10deg); overwriting hover's*/
}

#fourth {
  /* transform: rotate(-11deg); */
  height: 120px;
  width: 120px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 50%;
}

#fifth{
  position: relative;
  top: -40px;
  left: -65px;
  height: 110px;
  width: auto;
  /* margin-left: 185px;
  margin-top: 50px; */
}

#sixth{
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 80px;
  left:20px;
}

#seventh{
  position: relative;
  bottom:80px;
  left: 40px;
  height: 120px;

}

#eight{
  position: relative;
  bottom:225px;
  right: 500px;
  height: 110px;
  width: 110px;
}

.img-gallery img:hover:nth-child(odd)  { 
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 75, 136, 0.2);
}

.img-gallery img:hover:nth-child(even)  { 
  transform: scale(0.8) rotate(15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 75, 136, 0.2);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none; /*hides full img*/
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 500px; /*for larg devices, max width is 500px*/
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
