* {
  box-sizing: border-box;
}

body {
  background: url("../images/grid_bg.jpg") no-repeat center center; /*.. to specify one level up bc images is outside of css directory. (for github pages).*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: rgb(59, 57, 57);
  position: relative;
  left: 50px;
  top: 300px;
}

.nav-links {
  /*shouldnt the parent container do the flexing? then adjust the elements/items? yes.ul is flexing the li*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-links li {
  background-color: rgb(232, 228, 217);
  padding: 14px 16px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px #486cc6 inset;
}

.navbar ul li:nth-child(3):nth-last-child(3) {
  /*selecting middle child*/
  background-color: transparent; /*AMAZINGGG*/
  box-shadow: none;
}

.navbar ul li a {
  text-decoration: none; /*remove lines under text*/
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(59, 57, 57);
}

/* Menu toggle button for mobile view */
.menu-toggle {
  display: none;
  flex-direction: column;
  align-items: end; /*make hamberger on right-side of view*/
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: rgb(140, 191, 236);
  height: 3px;
  width: 25px;
  margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(217, 225, 232);
    /* pale blue background for mobile view */
  }

  #logo {
    /*i want this just to be a home button (js finding #logo and changing its html) or at least an oval*/
    /* display: none; */
    /* padding: 14px 16px; */
    border-radius: 2px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.img-gallery {
  width: 80%;
  margin: 100px auto 50px; /*change unit so it works for varying devices*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.img-gallery img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.img-gallery img:hover:nth-child(odd) {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 75, 136, 0.2);
}

.img-gallery img:hover:nth-child(even) {
  transform: scale(0.8) rotate(15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 75, 136, 0.2);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none; /*hides full img*/
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 500px; /*for larg devices, max width is 500px change tp better unit*/
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
