/*Style sheet for index and about-me*/

html {
  background: #faf9f6;
}

.png-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* does this even exist? 
.main-article{
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
} */
/*
.main-article img{
  height: 50%;
  width: 50%;
   display: block;
}  */
/* 
.navbar{
  display: flex;
  align-items: center;
  justify-items: space-evenly;
} */

.navbar ul {
  /*shouldnt the parent container do the flexing? then adjust the elements/items?*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  background-color: #faf9f6;
  padding: 14px 16px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px #228b22 inset;
}

.navbar ul li:nth-child(3):nth-last-child(3) {
  /*selecting middle child*/
  box-shadow: none;
}

.navbar ul li a {
  text-decoration: none; /*remove lines under text*/
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #000000;
}

article {
  display: flex;
  flex-direction: column;
}

article img {
  max-width: 50%;
  max-height: 100vh;
  margin: auto;
}

footer {
  text-align: center;
  background: #faf9f6;
  color: #228b22;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
/*about-me.html*/
.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#me {
  max-width: 50%;
}

/*need to figure out what to display. windows into my life.*/
.container2 {
  display: grid;
  padding: 10%;
  overflow: hidden;
}
#receptify50 {
  width: 50%;
}
#receptify10 {
  width: 50%;
}
#thumbs {
  height: auto;
  width: 50%;
}
