/*Style sheet for index and about-me*/

html {
  background: #faf9f6;
}

.png-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.navbar ul {
  /*shouldnt the parent container do the flexing? then adjust the elements/items? yes.ul is flexing the li*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.navbar ul li {
  background-color: rgb(232, 228, 217);
  padding: 14px 16px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px #486cc6 inset;
}

.navbar ul li:nth-child(3):nth-last-child(3) {
  /*selecting middle child*/
  background-color: transparent; /*AMAZINGGG*/
  box-shadow: none;
}

.navbar ul li a {
  text-decoration: none; /*remove lines under text*/
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #000000;
}

article {
  display: flex;
  flex-direction: column;
}

article img {
  max-width: 50%;
  max-height: 100vh;
  margin: auto;
}

footer {
  text-align: center;
  background: #faf9f6;
  color: #228b22;
}

/* Menu toggle button for mobile view */
.menu-toggle {
  display: none;
  flex-direction: column;
  align-items: end; /*make hamberger on right-side of view*/
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: rgb(140, 191, 236);
  height: 3px;
  width: 25px;
  margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(217, 225, 232);
    /* pale blue background for mobile view */
  }

  #logo {
    /*i want this just to be a home button (js finding #logo and changing its html) or at least an oval*/
    /* display: none; */
    /* padding: 14px 16px; */
    border-radius: 2px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
/*about-me.html*/
/* .aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#me {
  max-width: 50%;
} */

/*need to figure out what to display. windows into my life.*/
/* .container2 {
  display: grid;
  padding: 10%;
  overflow: hidden;
}
#receptify50 {
  width: 50%;
}
#receptify10 {
  width: 50%;
}
#thumbs {
  height: auto;
  width: 50%;
} */
